.ion-alpha-list {
  padding-right: 20px;
}

.ion-alpha-list .item {
  border-right: none;
}

.ion-alpha-sidebar {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 50000;
}

.ion-alpha-sidebar li {
  line-height: 1.1;
  list-style: none;
  width: 20px;
  text-align: center;
}

.ion-alpha-letter-indicator {
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100px;
  height: 100px;
  color: white;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  z-index: 999;
}

.ion-alpha-invalid a {
  color: #cccccc;
}

.ion-alpha-active a {
  color: darkkhaki !important;
}
